:root {
    --primary-color: lime;
    /* --primary-color: #BD93F9; */
    /* --primary-color: #FF79C6; */
    /* --primary-color: violet; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, sans-serif;
    background-color: #f5f5f5;
}

.fullscreen-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    background: black;
    border: 4px solid;
    border-color: var(--primary-color);
}

.inner-container  {
    width: 50%;
    height: 50%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

ul.link-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.link-list > li > a  {
    color: inherit;
    text-decoration: none;
}

.primary-color {
    color: var(--primary-color);
}
